* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
	font-size: 1.2em;
	line-height: 1.8em;
	background-color: var(--bodyBgColor);
	color: var(--textColor);
}

.container {
	width: 100%;
	background-color: var(--containerBgColor);
}

main,
.header-inner,
.footer-inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 0.8em;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}