footer {
	margin-top: 1em;
	padding: 1em 0 1em;
	background-color: var(--footerColor);
	color: var(--secondaryTextColor);
}

.toTopLink {
	position: fixed;
	bottom: 0.5em;
	opacity: 0;
	width: 70px;
	height: 70px;
	right: 1em;
	background-color: var(--headerColor);
	border: 1px solid var(--headerColor);
	border-radius: 50%;
	transition: 0.2s background-color ease, opacity 0.4s ease;
	transform: rotate(90deg);
}

.opaque {
	opacity: 1;
}

.toTopLink {
	text-decoration: none;
	color: var(--secondaryTextColor);
}

.toTopLink span {
	position: relative;
	top: 19%;
	left: 40%;
	font-size: 2.4em;
}

.toTopLink span:before { content:"\2039"; }
